/* Estilos para la sección "NOSOTROS" */
 
.header-nosotros {
    background-color: #06719A;
    color: #fff;
    padding: 5rem 0; /* Ajusta el padding vertical según tus preferencias */
    height: 30vh; /* Ajusta la altura del header según tus preferencias */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .header-nosotros {
    /* Tus estilos existentes aquí */
    margin-bottom: 20px; /* Espacio en la parte inferior del encabezado */
  }
  
  
  .nosotros-container {
    display: flex;
    align-items: center;
    margin-top: 100px; /* Ajusta el margen superior según tus preferencias */

      
  }
  .text-uppercase {
    font-size: 2rem;
    font-weight: bold;
    margin-right: 20px; /* Espacio entre el título y la imagen */
  }
  

  
/* Estilos para hacer el header responsive */
@media (max-width: 768px) {
    .header-nosotros {
      padding: 30px 0; /* Ajusta el padding para pantallas pequeñas */
      min-height: 150px; /* Ajusta la altura mínima para pantallas pequeñas */
    }
    
    .text-uppercase {
      font-size: 1.5rem; /* Ajusta el tamaño del texto para pantallas pequeñas */
    }
    
    .nosotros-image {
      width: 80px; /* Ajusta el tamaño de la imagen para pantallas pequeñas */
    }
  }

  .bg-custom {
    background-color: #308FBE;
}
.bg-valores {
    background-color: #06719A;
}
.form-container {
  background-color: #308FBE; /* Color de fondo */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Estilo para los campos de entrada */
.form-control {
  background-color: rgba(250, 250, 250, 0.904);
  border: none;
}

/* Estilo para el botón */
.btn-primary {
  background-color: #043B56; /* Cambiamos el color de fondo */
  border: none;
}
.white-label {
  color: white;
}